.box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 50%;
  margin: 1rem;
  padding: 5rem;
  background-color: #082032;
  border-radius: 9px;
  color: #fefefe;
}
.icon {
  font-size: 9.7rem;
}

.style {
  font-size: 4rem;
}

.box .lside,
.right > form {
  display: grid;
  place-items: center;
}

.box .lside {
  width: 20%;
  height: 100%;
}
.box .right > form > input {
  padding-bottom: 10px;
  margin-bottom: 1.5rem;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  color: #fefefe;
}

.box .right > form > input[type='submit'] {
  border: none;
  background-color: #a2cdcd;
  padding: 0.6rem;
  border-radius: 9%;
}

.box .right > form > input:hover {
  content: '';
  border-bottom: 1px solid #f9d5a7;
}
.box .right > form > input[type='submit']:hover {
  border: none;
}

.box .right .bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bottom > ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.bottom > ul > li {
  padding: 1rem;
}

@media screen and (max-width: 480px) {
  .box {
    width: 90%;
    margin: auto;
    left: 45%;
    display: block;
  }
  .lside {
    position: absolute;
    left: 3%;
    top: -3%
  }
  .right {
    position: absolute;
    right: 4%;
    top: 30%;
  }
  .icon {
    font-size: 4.5rem;
  }
  .style {
    font-size: 2rem;
  }
  .bottom > ul  {
    position:absolute;
    top:85%;
  }
}
